<div>
    <h1> {{ 'profile.Title' | translate }} </h1>
    <ng-container *ngIf="!isProfileLoading else loadingMessage">
        <ng-container></ng-container>
        <div *ngIf="user">
            <p> {{ 'profile.UsernameLabel' | translate }}: {{ user.username }} </p>
            <p> {{ 'profile.EmailLabel' | translate }}: {{ user.email }} </p>
        </div>
        <div>
            <label> {{ 'profile.FirstNameLabel' | translate }}: </label>
            <input type="text" 
                [value]="firstNameInputValue" 
                (change)="onFirstNameFieldChange($event)"
                [disabled]="saveStatus === SaveStatusEnum.SAVING" />
        </div>
        <div>
            <label> {{ 'profile.LastNameLabel:' | translate}} </label>
            <input type="text" 
                    [value]="lastNameInputValue" 
                    (change)="onLastNameFieldChange($event)"
                    [disabled]="saveStatus === SaveStatusEnum.SAVING" />
        </div>
        <div>
            <input type="button" 
                value="{{ 'profile.SaveButtonLabel' | translate }}" 
                (click)="saveProfile()" 
                [disabled]="saveStatus === SaveStatusEnum.SAVING" />
        </div>
        <ng-container [ngSwitch]="saveStatus">
            <ng-container *ngSwitchCase="SaveStatusEnum.SAVING" [ngTemplateOutlet]="savingMessage"></ng-container>
            <ng-container *ngSwitchCase="SaveStatusEnum.ERROR" [ngTemplateOutlet]="errorMessage"></ng-container>
        </ng-container>
    </ng-container>
</div>

<ng-template #loadingMessage>
    <p> {{'profile.LoadingMsg' | translate }} </p>
</ng-template>

<ng-template #savingMessage>
    <p> {{'profile.SavingMsg' | translate }} </p>

</ng-template>

<ng-template #errorMessage>
    <p> {{'profile.ErrorMsg' | translate }} {{ errorResultMessage }}</p>
</ng-template>